<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">AUMENTA LA CAPACIDAD DE TU NEGOCIO!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">La externalización del proceso de nómina de grandes organizaciones a través de nuestro servicio les ha permitido modernizar los estándares a los que se habían habituado las empresas, modelando nosotros un procesamiento virtual a la medida de las necesidades propias de cada cliente, generando un valor agregado para sus propios empleados y para las áreas contables y de recursos humanos en las organizaciones.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Comenzar!</a>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">A tu servicio</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-lock text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Seguridad</h3>
          <p class="text-muted mb-0">Nuestra plataforma cumple con altos estándares de desarrollo asi como procesos de seguridad para el respaldo de la información.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-cloud text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Tecnologia</h3>
          <p class="text-muted mb-0">La nomina.net cuenta con tecnoliga de alto de desempeño y almacenamiento en la nube!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-check-circle text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Confianza</h3>
          <p class="text-muted mb-0">El equipo de lanomina.net trabaja constantemente en mejorar nuestro producto y brindar servicios de calidad.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-question-circle text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Soporte</h3>
          <p class="text-muted mb-0">Soporte 360 garantiza y brinda seguridad a nuestros clientes.</p>
        </div>
      </div>
    </div>
  </div>
</section>
